/* Specific Titles for the Privacy Policy Section */
.privacy-policy {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

.privacy-policy-text-1{
    margin-top: 120px;
}

.privacy-policy-subtitle {
    font-size: 28px;
    color: #444;
    margin-bottom: 15px;
}

.privacy-policy-subsubtitle {
    font-size: 22px;
    color: #555;
    margin-bottom: 10px;
}


.privacy-policy-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.8;
}

.privacy-policy-hero .privacy-policy h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.privacy-policy-hero .privacy-policy-h2 {
    font-size: 40px;
    color: #333;
    margin-bottom: 15px;
}

.privacy-policy-hero .privacy-policy h3 {
    font-size: 22px;
    color: #555;
    margin-bottom: 10px;
}


.privacy-policy-hero .privacy-policy p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.8;
}





















